.x_customMenu{
  &_wrap{
    position:fixed;
    width:240px;
    height:240px;
    z-index: 99999;
  }
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:240px;
  height:240px;
  border-radius: 4px;
  user-select: none;

  animation: .45s rotateDis 1 ease-in;
  overflow: hidden;
  transform-origin: center center;

  &_item{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width:60px;
    height:60px;
    border-radius: 50%;
    background: aquamarine;
    //background-color: rgba(224,224,224,.35);
    opacity: .72;
    cursor: pointer;
    box-shadow: 3px 3px 7px rgba(124,124,124,0.7);
    &:hover{
      opacity: 1;
    }
  }
}