.month_table{
  &_L{
    width:100px;
    text-align: center;
    .header{
      height:36px;
      line-height: 36px;
      font-weight: 700;
      background: #D1DBE8;
      cursor: default;
      border-right: 1px solid #e1e1e1;
      border-bottom: 1px solid #e1e1e1;
    }
    .item{
      height:70px;
      line-height: 70px;
      border-right: 1px solid #e1e1e1;
      border-bottom: 1px solid #e1e1e1;
    }
  }
  &_M{
    flex-grow:1;
  }
}