.circle_layout_box{
  position:relative;
  margin:16px;
  width:600px;
  height:480px;
  background: #fff;
  box-shadow: 2px 2px 5px rgba(124,124,124,1);
  >:nth-child(1){
    top:0;
    left:270px;
  }
  >:nth-child(2){
    top:210px;
    left:540px;
  }
  >:nth-child(3){
    top:420px;
    left:270px;
  }
  >:nth-child(4){
    top:210px;
    left:0;
  }
  .circle_layout_item{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width:60px;
    height:60px;
    border-radius: 50%;
    background: aquamarine;
  }
}