.x_message{
  position:fixed;
  top:0;
  left:50%;
  transform: translate(-50%,0%);
  width:400px;
  z-index:100;
  background: transparent;

  .notice{
    font-size: 16px;
    padding:8px 12px;
    background: #40a9ff;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 gray;
    opacity: 0;

    animation: 1.2s linear 0s 1 normal none running spin;
    @keyframes spin{
      0% {
        opacity: 0;
        transform: translateY(0%);
      }
      10%{
        opacity: 1;
        transform: translateY(100%);
      }
      80%{
        opacity: 1;
        transform: translateY(100%);
      }
      90% {
        opacity: 0;
        transform: translateY(100%);
      }
    }
  }
}