.staff{
  &.rival{
    .staff_name{
      color:gray;
    }
  }
  margin:16px;
  padding:12px;
  width:210px;
  height:280px;
  border-radius:4px;
  background: #fff;
  box-shadow: 0 7px 24px rgba(0, 0, 0, 0.07);
  user-select: none;
  cursor:pointer;
  font-family: "Calisto MT";

  &_name{
    font-size: 24px;
    color:green;
    font-weight:600;
  }
  >:not(.staff_name){
    font-size: 18px;
    font-weight: 500;
    .staff_level{
      &.S{
        color:gold;
      }
      &.A{
        color:red;
      }
      &.N{
        color:#8f8f8f;
      }
      font-family: "Segoe Print";
      font-weight: bolder;
      font-size: 24px;
      color:#1890ff;
    }
  }
}