.staff_modal{
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  background: rgba(0,0,0,.12);
  &_main{
    flex-wrap: wrap;
    width:972px;
    background: rgba(0,0,0,0.21);
    border-radius: 8px;
    >div{
      flex-shrink: 0;
    }
  }
}