.x_pkCard{
  width: 150px;
  height:220px;
  perspective: 1000px;//翻转关键
  &:hover{
    .x_pkCard_main{
      transform: scale(1.2) rotateY(0deg);
    }
  }
  &_main{
    position:relative;
    box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
    transition: 0.6s;
    transform-style: preserve-3d;//翻转关键
    transform: rotateY(180deg);
    //border-radius: 6px;
    //overflow: hidden;//加上这一行无法实现翻转，没有这一行圆角不出现，待解决
  }
  &_front,&_back{
    backface-visibility: hidden;//翻转关键
    position: absolute;
    top: 0;
    left: 0;
  }
  &.back{
    .x_pkCard_backBg{
      transform: rotateY(180deg);//翻转关键
      background: #eee;
      background-image:
              linear-gradient(45deg,rgba(0,0,0,.25) 25%,transparent 0,transparent 75%,rgba(0,0,0,.25) 0),
              linear-gradient(45deg,rgba(0,0,0,.25) 25%,transparent 0,transparent 75%,rgba(0,0,0,.25) 0);
      background-position:0 0, 15px 15px;
      background-size: 30px 30px;
    }
  }

  &_front{
    display: flex;
    flex-direction: column;
    background: #fff;
    z-index: 2;
    .x_graph{
      flex-shrink: 0;
      margin:0 0 -50px 12px;
      &:before{
        display: block;
        font-size: 80px;
      }
      &.hearts{
        &:before{
          content: "♥";
          color: #ff0000;
        }
      }
      &.spade{
        &:before{
          content: "♣";
          color: #000;
        }
      }
      &.plum{
        &:before{
          content: "♦";
          color: #ff0000;
        }
      }
      &.diamonds{
        &:before{
          content: "♠";
          color: #000;
        }
      }
      &.bigKing{
        &:before{
          font-size: 32px;
          content:'JOKER';
          color:#ff0000;
        }
      }
      &.smallKing{
        &:before{
          font-size: 32px;
          content:'JOKER';
          color:#000;
        }
      }
    }
    .x_value{
      flex-grow:1;
      font-size: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}