@import "../../asset/base";

.x_container{
  height:100vh;
  display: flex;
  overflow: auto;

  &_main{
    display: flex;
    flex-direction: column;
    flex-grow:1;
    margin:12px;
    background:@glass-bg;
    border:1px solid @border-color;
    box-shadow:0 7px 24px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
  }
  .x_header{
    flex-shrink: 0;
    padding:12px 16px;
  }
  &_content{
    flex-grow:1;
    padding:12px 16px;
    overflow: auto;
  }
}

.x_container.nopad{
  .x_container_content{
    padding:0;
  }
}