.mdHtml{
  &_content{
    flex-grow:1;
    overflow: auto;
  }
  &_index{
    margin: 32px 0 16px 16px;
    max-width: 300px;
    min-width: 160px;
    a{
      display: block;
      margin: 4px 16px;
      &.h2{
        margin:4px 32px;
      }
      &.h3{
        margin:4px 48px;
      }
      &.h4{
        margin:4px 64px;
      }
      &.h5{
        margin:4px 80px;
      }
      &.h6{
        margin:4px 96px;
      }
    }
  }
  &_main{
    overflow: auto;
    margin:16px 0 0 32px;
    padding-right: 16px;
    max-width: 976px;
  }

  ul,li{
    list-style: disc;
  }
  ul{
    padding-inline-start: 40px;
  }
  p{
    margin-bottom:1em;
    letter-spacing: .5px;
  }
  pre{//代码块区域
    background: #e8e8e8;
    padding: 12px 16px;
    border-radius: 4px;
  }
  blockquote{
    margin:4px 0;
    padding:3px 8px;
    border-radius:4px;
    background: AliceBlue;
    >p{
      margin:0;
    }
  }
}