.mdHtml{
  &_main{
    margin:16px 32px;
    max-width: 1000px;
  }
  ul,li{
    list-style: disc;
  }
  ul{
    padding-inline-start: 40px;
  }
  p{
    margin-bottom:1em;
    letter-spacing: .5px;
  }
  pre{//代码块区域
    background: #e2e2e2;
    padding: 12px 16px;
    border-radius: 4px;
  }
  blockquote{
    margin:4px 0;
    padding:3px 8px;
    border-radius:4px;
    background: AliceBlue;
    >p{
      margin:0;
    }
  }
}