div.x_login{
  height:100vh;
  min-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  .x_card_body{
    display: flex;
    padding:0;
    height:420px;
    >div{
      flex:1;
    }
  }
  &_logo{
  }
  &_width{

  }
}