.x_menuM{
  &.off{
    min-width: 60px;
    width:60px;
  }
  min-width:280px;
  width:280px;
  height:100vh;
  background: #fff;
  border-right:1px solid #e8e8e8;
  transition: width 0.5s,min-width 0.5s;
  .x_menuM_column{
    margin:3px 0;
    padding:0 24px;
    height:40px;
    line-height: 40px;
    color:rgba(0, 0, 0, 0.65);
    cursor: pointer;
    overflow: hidden;
    user-select: none;
  }
  .x_menuItemM{
    >i{
      margin-right:10px;
    }
    &:hover{
      color:#1890ff;
    }
    &.selected{
      color:#1890ff;
      background: #e6f7ff;
    }
  }
}