@import "../../asset/base";

.menuM{
  &.off{
    min-width: 60px;
    width:60px;
  }
  min-width:210px;
  //width:210px;
  height:100vh;
  background: @glass-bg;
  border-right:1px solid #e8e8e8;
  transition: width 0.12s,min-width 0.12s;
  &_column{
    padding:0 24px;
    height:40px;
    line-height: 40px;
    color:rgba(0, 0, 0, 0.65);
    cursor: pointer;
    overflow: hidden;
    user-select: none;
  }
  .x_menuItemM{
    margin:3px 0;
    >i{
      margin-right:10px;
    }
    &:hover{
      color:#1890ff;
    }
    &.selected{
      color:#1890ff;
      background: #e6f7ff;
    }
  }
}